@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');
:root {
	--window-height: 100vh;
	--primary: #443858;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

body.no-scroll {
	overflow: hidden !important;
	touch-action: none;
}

.skeleton {
	background-color: rgba(223, 224, 224, 0.05) !important;
	background-image: -webkit-linear-gradient(left, rgba(223, 224, 224, 0.1) 0%, rgba(223, 224, 224, 0.1) 5%, rgba(251, 250, 250, 0.25) 25%, rgba(223, 224, 224, 0.45) 50%, rgba(251, 250, 250, 0.25) 75%, rgba(223, 224, 224, 0.1) 95%, rgba(223, 224, 224, 0.1) 100%) !important;
	animation-duration: 2.5s !important;
	animation-iteration-count: infinite !important;
	animation-name: wave !important;
	animation-timing-function: ease-in-out !important;
	/*background-repeat: no-repeat;*/
	background-size: 200% 100% !important;
}
